*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey6: #dbe1e8;
    --color-grey1: #b2becd;
    --color-grey2: #6c7983;
    --color-grey3: #454e56;
    --color-grey4: #2a2e35;
    --color-grey5: #12181b;
    --br-sm-2:14px
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2) 
}
.light-mode{
    --color-primary: #ffffff;
    --color-secondary: steelblue;
    --color-white: #000;
    --color-black: #b2becd;
    --color-grey0: #f8f8f8;
    --color-grey6: #dbe1e8;
    --color-grey1: #2a2e35;
    --color-grey2: #6c7983;
    --color-grey3: #b2becd;
    --color-grey4: #103042;
    --color-grey5: #dbe1e8;
    --br-sm-2:14px
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2) 
}
/*General*/
body{
 font-family: 'Montserrat Alternates', sans-serif;
 font-size: 1.1rem;
 background-color: #00000000;
 color: var(--color-white);
 transition: all .4s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
header{
    height: 100%;
    color: var(--color-white);
    overflow: hidden;
}
section{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /*min-height: 100vh;*/
    /*padding: 3rem 8rem;*/
}
.section{
    background-color: var(--color-primary);
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
}
.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
}
.active{
    display: block;
    animation: 1s slideIn ease-in-out;
    @keyframes slideIn{
        from{
    transition: translateY(-100%) scale(1)}
        to{
    transform: translateY(0%) scale(1)}
    }
}
/*Controles*/
.controls{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 95vh;
    right: 3%;
    z-index: 10;
    background-color: var(--color-primary);
    transform: translateY(-50%);
}
.control{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 55px;
    height: 55px;
    margin:.7rem 0.1rem;
    padding:1rem;
    border-radius:50%;
    background-color:var(--color-grey3);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}
.control--active-btn{
    background-color: var(--color-secondary);
    transition: all .4s ease-in-out;
}
i{
    font-size: 1.2rem;
    /*color: var(--color-grey2);*/
    pointer-events:none;
}
.theme-btn{
    top: 1%;
    right: 3%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-grey3);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 0 3px 15px rgba(0, 000, 000, 0.3);
    transition: all 0.1s ease-in-out;
}
.theme-btn:active{
    transform: translateY(-5px);
}
.theme-btn i{
    font-size: 1.4rem;
    color: var(--color-grey2);
    pointer-events: none;
}
/*Header-content*/
.header-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction:column; */
    margin: 20px 20px 90px 20px;
    height: 100vh;
}
.left-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.h-shape{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: var(--color-secondary);
    z-index: -1;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
}
.image{
    height: 90%;
    width: 80%;
    max-width: 480px;
    margin-bottom: 25px;
    border-radius: 14px;
    transition: all .4s ease-in-out;
}
.image .img__profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*filter: grayscale(100%);*/
    border-radius: 14px;
    transition: all .4s ease-in-out;
}
.image .img__profile:hover{
    filter: grayscale(0);
}
.right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name span{
    color: var(--color-secondary);
}
.name{
    font-size: 2rem;
    text-align: center;
} 
p{
    margin: 30px 0px;
    line-height: 2rem;
    text-align: justify;
}

.btn-container{
    display: flex;
    align-self: center;
    justify-content: space-around;
}
.main-btn{
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    border: 1px solid var(--color-secondary);
    overflow: hidden;
}
.main-btn::before{
    position: absolute;
    top: 0;
    right: 0;
    content:'';
    transform: translateX(100%);
    transition: all .4s ease-out;
    z-index: -1;
}
.main-btn:hover::before{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
}
.btn-txt{
    padding: 0 2rem;
}
.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
}
/*ABOUT ME*/
.about-container{
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    margin: 20px 20px 0 20px;
}
.about-container .right-about{
    display: grid;
    grid-gap: 2rem;
}
.about-container .right-about .about-item{
    border: 1px solid var(--color-grey5);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
}
.about-container .right-about .about-item:hover{
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, .32);
}
.abt-text{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.abt-text .large-text{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);
}
.abt-text .small-text{
    position: relative;
    padding-left: 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--color-grey1);
}
.abt-text .small-text::before{
   position: absolute;
   left: 0;
   top: 15px;
   width: 2rem;
   height: 2px;
   content: ''; 
   background-color: var(--color-grey5);
}
.left-about p{
    /*padding: 1rem*/
    line-height: 2rem;
    color: var(--color-grey1);
}
.left-about h4{
    font-size: 2rem;
    text-transform: uppercase;
}
.about-stats{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 90px 20px;
}
.progress-bars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    /*grid-template-columns: repeat(2,1fr);*/
    /*grid-gap: 2rem;*/
}
.progres-bar{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}
.prog-title{
    text-transform: uppercase;
    font-weight:500;
}
.progress-con{
    display: flex;
    align-items: center;
}
.prog-text{
    color: var(--color-grey2);
}
.progress{
    position: relative;
    width: 100%;
    height: .45rem;
    margin-left: 1rem;
    background-color: var(--color-grey4);
}
.progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    background-color: var(--color-secondary);
    transition: all .4s ease-in-out;
}
.stats-title{
    padding: 2rem 0;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.stat-title::before{
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    content: "";
    background-color: var(--color-grey5);
    transform: translateX(-50%);
}
/*.btn-container{*/
    /*display: flex;*/
    /*align-self: center;*/
/*}*/
/*.main-btn{*/
    /*position: relative;*/
    /*display: flex;*/
    /*align-self: flex-start;*/
    /*align-items: center;*/
    /*border-radius: 30px;*/
    /*color: inherit;*/
    /*font-weight: 600;*/
    /*border: 1px solid var(--color-secondary);*/
    /*overflow: hidden;*/
/*}*/
/*.main-btn::before{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*content:'';*/
    /*transform: translateX(100%);*/
    /*transition: all .4s ease-out;*/
    /*z-index: -1;*/
/*}*/
/*.main-btn:hover::before{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: var(--color-secondary);*/
    /*transform: translateX(0);*/
/*}*/
/*.btn-txt{*/
    /*padding: 0 2rem;*/
/*}*/
/*.btn-icon{*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding: 1rem;*/
    /*background-color: var(--color-secondary);*/
    /*border-radius: 50%;*/
/*}*/
.main-title{
    text-align: center;
    margin-top: 30px;
}
.main-title h2{
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.main-title span{
    color: var(--color-secondary);
}
.main-title .bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    font-weight: 800;
    font-size: 4.3rem;
    text-transform: uppercase;
    color: var(--color-grey5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.progres-bar i{
    font-size: 3rem;
    text-align: center;
}

/*PORTAFOLIO*/
.port-text{
    max-width: 360px;
    text-align: justify;
    margin-top: 0;
    max-width: 360px;
    width: 80%;

}
.portfolios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.portfolios h2{
    margin-bottom: 14px;
}
.portfolios .portfolio-item{
    position:relative;
    min-width: 200px;
    max-width: 250px;
    height: 300px;
}
.portfolios .portfolio-item .image{
    width: 100%;
    margin: 0;
}
.portfolios .portfolio-item .image{
    width: 100%;
}
.portfolios .portfolio-item .image img{
    width: 100%;
    /*height: 100%;*/
    height: 300px;
    object-fit: contain;
}
.hover-item{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%; 
   height: 90%;
   position: absolute;
   left: 0;
   top: 0;
   border-radius: 15px;
   opacity: 0;
   transform: scale(1);
}
.hover-item:hover{
   background-color: var(--color-secondary);
   opacity: 1;
   transform: scale(1);
   transition: all .4s ease-in-out;
}

.hover-item h3{
    font-size: 1.5rem;
    color:var(--color-white);
    margin-bottom: 1.5rem;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .icon{
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.icons .icon i{
    font-size: 2rem;
    color: var(--color-white);
    margin: 0 1rem;
}
/* Contact Section */
.input-control{
    margin: 1.5rem 0;
}
.input-control .i-c-2{
    margin-bottom: 14px;
    justify-items: space-between;
}
.input-control input{
    margin-bottom: 14px;
}

.i-c-2:last-child{
  margin-left: 1.5rem;
  margin-top: 14px;
}
input{
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey4);
    width: 100%;
    color: var(--color-white);
    resize: none;
}
textarea{
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey4);
    width: 100%;
    color: var(--color-white);
    resize: none;
}
.contact-form{
    margin-top: 60px;
}
.contact-form .main-btn{
    width: 50%;
    justify-content: space-between;
    padding-left: 10px;
}
.submit-btn{
    display: flex;
    justify-content: center;
}
.contact-form .submit-btn .main-btn{
    min-width: 200px;
}
.contact-container-con{
    margin: 30px 30px 80px 30px;
}