*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #ffffff;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey6: #dbe1e8;
    --color-grey1: #b2becd;
    --color-grey2: #6c7983;
    --color-grey3: #454e56;
    --color-grey4: #2a2e35;
    --color-grey5: #12181b;
    --br-sm-2:14px
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.2) 
}
body{
 font-family: 'Montserrat Alternates', sans-serif;
 font-size: 1.1rem;
 background-color: #00000000;
 color: var(--color-white);
 transition: all .4s ease-in-out;
}
a{
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}
section{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 8rem;
}
.section{
    background-color: var(--color-primary);
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
}
.sec1{
    display: none;
    transform: translateY(0) scale(1);
}
.sec2{
    display: none;
    transform: translateY(0) scale(1);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
}
.sec5{
    display: none;
    transform: translateY(0) scale(1);
}
.active{
    display: block;
    animation: 1s slideIn ease-in-out;
    @keyframes slideIn{
        from{
    transition: translateY(-100%) scale(1)}
        to{
    transform: translateY(0%) scale(1)}
    }
}

/*Controles*/

.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    z-index: 10;
    right: 3%;
    transform: translateY(-50%);
}
.control{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 55px;
    height: 55px;
    margin:.7rem 0;
    padding:1rem;
    border-radius:50%;
    background-color:var(--color-grey4);
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}
.control--active-btn{
    background-color: var(--color-secondary);
    transition: all .4s ease-in-out;
}
i{
    font-size: 1.2rem;
    /*color: var(--color-grey2);*/
    pointer-events:none;
}

/*Header-content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}
.left-header{
    position: relative;
    display: flex;
    align-items: center;
}
.h-shape{
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    height: 100%;
    transition: all .4s ease-in-out;
    background-color: var(--color-secondary);
    z-index: -1;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0 100%);
}
.image{
    height: 90%;
    width: 68%;
    margin-left: 4rem;
    border-radius: 14px;
    background-color: var(--color-black);
    transition: all .4s ease-in-out;
}
.image .img__profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    border-radius: 14px;
    transition: all .4s ease-in-out;
}
.image .img__profile:hover{
    filter: grayscale(0);
}
.right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
}
.name span{
    color: var(--color-secondary);
}
.name{
    font-size: 3rem;
} 
p{
    margin: 30px 0px;
    line-height: 2rem;
    text-align: justify;
}

/*ABOUT ME*/
.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}
.about-container .right-about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.about-container .right-about .about-item{
    border: 1px solid var(--color-grey5);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
}
.about-container .right-about .about-item:hover{
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, .32);
}
.abt-text{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.abt-text .large-text{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.abt-text .small-text{
    position: relative;
    padding-left: 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--color-grey1);
}
.abt-text .small-text::before{
   position: absolute;
   left: 0;
   top: 15px;
   width: 2rem;
   height: 2px;
   content: ''; 
   background-color: var(--color-grey5);
}
.left-about{
    padding-right: 5rem;
}
.left-about p{
    padding: 1rem;
    line-height: 2rem;
    color: var(--color-grey1);
}
.left-about h4{
    font-size: 2rem;
    text-transform: uppercase;
}
.about-stats{
    padding-bottom: 4rem;
}
.progress-bars{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
.progres-bar{
    display: flex;
    flex-direction: column;
}
.prog-title{
    text-transform: uppercase;
    font-weight:500;
}
.progress-con{
    display: flex;
    align-items: center;
}
.prog-text{
    color: var(--color-grey2);
}
.progress{
    position: relative;
    width: 100%;
    height: .45rem;
    margin-left: 1rem;
    background-color: var(--color-grey4);
}
.progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    background-color: var(--color-secondary);
    transition: all .4s ease-in-out;
}
.stats-title{
    position: relative;
    padding: 3.5rem 0;
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.stat-title::before{
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    content: "";
    background-color: var(--color-grey5);
    transform: translateX(-50%);
}
.btn-container{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    position: relative;
    display: flex;
    align-self: flex-start;
    align-items: center;
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    border: 1px solid var(--color-secondary);
    overflow: hidden;
}
.main-btn::before{
    position: absolute;
    top: 0;
    right: 0;
    content:'';
    transform: translateX(100%);
    transition: all .4s ease-out;
    z-index: -1;
}
.main-btn:hover::before{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
}
.btn-txt{
    padding: 0 2rem;
}
.btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
}
.main-title{
    text-align: center;
}
.main-title h2{
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.main-title span{
    color: var(--color-secondary);
}
.main-title .bg-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    font-weight: 700;
    font-size: 6.3rem;
    text-transform: uppercase;
    color: var(--color-grey5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
}
/*Portfolio*/
.port-text{
    padding: 2rem 0;
    text-align: center;
}
.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}
.portfolios .portfolio-item{
    position: relative;
}
.portfolios .portfolio-item img{
    width:100%;
    height: 300px;
    object-fit: contain;
    border-radius: 15px;
}
.portfolios .portfolio-item .hover-item{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%; 
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background-color: var(--color-secondary);
   border-radius: 15px;
   opacity: 0;
   transform: scale(0);
   transition: all .4s ease-in-out;
}
.hover-item h3{
    font-size: 1.5rem;
    color:var(--color-white);
    margin-bottom: 1.5rem;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .icon{
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.icons .icon i{
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 1rem;
}
/*Contact Section*/
.contact-container-con{
    display: flex;
    padding-top: 3.5rem;
}
.contact-container-con .left-contact{
    flex: 2;
}
.contact-item span{
    display: inline-block;
    margin-bottom: 20px;
}
.right-contact{
    flex: 3;
    margin-left: 3rem;
}
.input-control{
    margin: 1.5rem 0;
}
.i-c-2{
    display: flex;
  }
.i-c-2:last-child{
  margin-left: 1.5rem;
}
input{
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey5);
    width: 100%;
    color: var(--color-white);
    resize: none;
}
textarea{
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey5);
    width: 100%;
    color: var(--color-white);
    resize: none;
}
.contact-form .main-btn{
    width: 50%;
    justify-content: space-between;
    padding-left: 10px;
}




